In [2]:
#install and import required libraries.
!pip install bs4
!pip install requests
from bs4 import BeautifulSoup
import requests
import pandas as pd

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: bs4 in c:\users\lavina\appdata\roaming\python\python39\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.3.1)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (2.28.1)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests) (2022.9.14)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests) (1.26.11)

IMBD's top rated 100 movies

In [2]:
#send get request to webpage to get source code
page = requests.get("https://www.imdb.com/list/ls091520106/")
# page content
soup = BeautifulSoup(page.content)   

## define a function to scrap movie title
def get_movie_titles(soup):
    selection_class="lister-item-header"
    movie_title_tags=soup.find_all('h3',{'class':selection_class})
    movie_titles=[]

    for tag in movie_title_tags:
        title = tag.find('a').text
        movie_titles.append(title)
    return movie_titles
get_movie_titles(soup)

#scraping a webpage to get rating and year of release
rating = []      #empty list
for i in soup.find_all('div', class_="ipl-rating-star small"): ##for loop to scrap rating
    rating.append(i.text.strip())
rating

year_of_release = []      #empty list
for i in soup.find_all('span', class_="lister-item-year text-muted unbold"):    ##for loop to scrap year of release
    year_of_release.append(i.text)
year_of_release

 ## define scraped data in data frame
df = pd.DataFrame({' movie name':get_movie_titles(soup),'rating':rating,"year of release":year_of_release})
df

                             movie name rating year of release
0              The Shawshank Redemption    9.3          (1994)
1                         The Godfather    9.2          (1972)
2                 The Godfather Part II      9          (1974)
3                       The Dark Knight      9          (2008)
4                          12 Angry Men      9          (1957)
..                                  ...    ...             ...
95                   North by Northwest    8.3          (1959)
96                   A Clockwork Orange    8.3          (1971)
97                               Snatch    8.2          (2000)
98  Le fabuleux destin d'Amélie Poulain    8.3          (2001)
99                              The Kid    8.3          (1921)

[100 rows x 3 columns]

IMBD's top rated 100 indian movies

In [4]:
page = requests.get("https://www.imdb.com/list/ls561664100/")  ##to check for scraping data
soup = BeautifulSoup(page.content)   ##get page content in HTML
## define a function to scrap movie title
def get_movie_titles(soup):
    selection_class="lister-item-header"
    movie_title_tags=soup.find_all('h3',{'class':selection_class})
    movie_titles=[]

    for tag in movie_title_tags:
        title = tag.find('a').text
        movie_titles.append(title)
    return movie_titles
get_movie_titles(soup)

#scraping for rating
rating = []      #empty list
for i in soup.find_all('div', class_="ipl-rating-star small"): ##for loop to scrap rating
    rating.append(i.text.strip())
rating

#scraping for year of release
year_of_release = []      #empty list
for i in soup.find_all('span', class_="lister-item-year text-muted unbold"):    ##for loop to scrap year of release
    year_of_release.append(i.text)
year_of_release

## define scraped data in data frame
df = pd.DataFrame({' movie name':get_movie_titles(soup),'rating':rating,"year of release":year_of_release})
df

                   movie name rating year of release
0          Gangs of Wasseypur    8.2          (2012)
1                      Masaan    8.1          (2015)
2             Ship of Theseus      8          (2012)
3                Black Friday    8.4          (2004)
4                       Udaan    8.1          (2010)
..                        ...    ...             ...
95             Eeb Allay Ooo!    7.2          (2019)
96                Dasvidaniya    7.8          (2008)
97                A Wednesday    8.1          (2008)
98  LSD: Love, Sex Aur Dhokha    7.2          (2010)
99                    Trapped    7.5   (XVII) (2016)

[100 rows x 3 columns]

cricket ranking from icc-cricket.com for mens team

top 10 ODI team

In [6]:
#send request to webpage server to get sourse code
page = requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
soup = BeautifulSoup(page.content)
# scraping first team
first_team =soup.find('span', class_='u-hide-phablet')
t1=first_team.text

# scraping first match
first_match =soup.find('td', class_='rankings-block__banner--matches')
m1=first_match.text

# scraping first points
first_points =soup.find('td', class_='rankings-block__banner--points')
p1=first_points.text

# scraping first rating
first_rating =soup.find('td', class_='rankings-block__banner--rating u-text-right')
r1=first_rating.text.strip()
# scraping multiple team
team =[]   #empty list
for i in soup.find_all('span', class_='u-hide-phablet'):
    team.append(i.text)
t=team[0:10]

# scraping multiple matches
name =[]  #empty list
for i in soup.find_all('td', class_='table-body__cell u-center-text'):
    name.append(i.text.strip())
m2= name[0:38:2]
m2.insert(0,m1)
m=m2[0:10]

# scraping multiple points
p2=name[1:38:2]
p2.insert(0,p1)
p=p2[0:10]
p

# scraping multiple rating
rating =[]    #empty list
for i in soup.find_all('td', class_='table-body__cell u-text-right rating'):
    rating.append(i.text)
r=rating[0:9]
r.insert(0,r1)
# for checking length
#print(len(t),len(m),len(p),len(r))
# making dataframe

df=pd.DataFrame({"Name of team":t,"Matches":m,"Points":p,"Rating":r})
df

   Name of team Matches Points Rating
0   New Zealand      23  2,670    116
1       England      30  3,400    113
2     Australia      32  3,572    112
3         India      38  4,098    108
4      Pakistan      22  2,354    107
5  South Africa      24  2,392    100
6    Bangladesh      33  3,129     95
7     Sri Lanka      31  2,800     90
8   Afghanistan      20  1,419     71
9   West Indies      41  2,902     71

top 10 ODI batmen

In [7]:
#send request to webpage server to get sourse code
page = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')
soup = BeautifulSoup(page.content)
# scraping first name
first_name =soup.find('div', class_='rankings-block__banner--name-large')
n1=first_name.text

# scraping first team
first_team =soup.find('div', class_='rankings-block__banner--nationality')
t1=first_team.text.strip()

# scraping first rating
first_rating =soup.find('div', class_='rankings-block__banner--rating')
r1=first_rating.text
# scraping multiple name
name =[]  #empty list
for i in soup.find_all('td', class_='table-body__cell rankings-table__name name'):
    name.append(i.text.strip())
n= name[0:9]
n.insert(0,n1)

# scraping multiple team
team =[]   #empty list
for i in soup.find_all('span', class_='table-body__logo-text'):
    team.append(i.text)
t=team[0:9]
t.insert(0,t1)

# scraping multiple rating
rating =[]    #empty list
for i in soup.find_all('td', class_='table-body__cell rating'):
    rating.append(i.text)
r=rating[0:9]
r.insert(0,r1)
# making dataframe
df=pd.DataFrame({"Name of player":n,"Team":t,"Rating":r})
df

          Name of player Team Rating
0             Babar Azam  PAK    890
1            Imam-ul-Haq  PAK    779
2  Rassie van der Dussen   SA    766
3        Quinton de Kock   SA    759
4           David Warner  AUS    747
5            Steve Smith  AUS    719
6         Jonny Bairstow  ENG    710
7            Virat Kohli  IND    707
8           Rohit Sharma  IND    705
9        Kane Williamson   NZ    700

top 10 ODI bowlers

In [9]:
#send request to webpage server to get sourse code
page = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
soup = BeautifulSoup(page.content)
# scraping first name
first_name =soup.find('div', class_='rankings-block__banner--name-large')
n1=first_name.text

# scraping first team
first_team =soup.find('div', class_='rankings-block__banner--nationality')
t1=first_team.text.strip()

# scraping first rating
first_rating =soup.find('div', class_='rankings-block__banner--rating')
r1=first_rating.text
# scraping multiple name
name =[]  #empty list
for i in soup.find_all('td', class_='table-body__cell rankings-table__name name'):
    name.append(i.text.strip())
n= name[0:9]
n.insert(0,n1)

# scraping multiple team
team =[]   #empty list
for i in soup.find_all('span', class_='table-body__logo-text'):
    team.append(i.text)
t=team[0:9]
t.insert(0,t1)

# scraping multiple rating
rating =[]    #empty list
for i in soup.find_all('td', class_='table-body__cell rating'):
    rating.append(i.text)
r=rating[0:9]
r.insert(0,r1)
# making dataframe
df=pd.DataFrame({"Name of Bowler":n,"Team":t,"Rating":r})
df

      Name of Bowler Team Rating
0        Trent Boult   NZ    752
1     Josh Hazlewood  AUS    727
2     Mitchell Starc  AUS    665
3         Matt Henry   NZ    663
4     Shaheen Afridi  PAK    661
5        Rashid Khan  AFG    659
6         Adam Zampa  AUS    655
7    Shakib Al Hasan  BAN    652
8  Mustafizur Rahman  BAN    638
9   Mujeeb Ur Rahman  AFG    637

Ranking from icc ricket.com for womens team

Top 10 ODI womens team

In [10]:
#send request to webpage server to get sourse code
page = requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
soup = BeautifulSoup(page.content)
# scraping first team
first_team =soup.find('span', class_='u-hide-phablet')
t1=first_team.text

# scraping first match
first_match =soup.find('td', class_='rankings-block__banner--matches')
m1=first_match.text

# scraping first points
first_points =soup.find('td', class_='rankings-block__banner--points')
p1=first_points.text

# scraping first rating
first_rating =soup.find('td', class_='rankings-block__banner--rating u-text-right')
r1=first_rating.text.strip()
# scraping first team
first_team =soup.find('span', class_='u-hide-phablet')
t1=first_team.text

# scraping first match
first_match =soup.find('td', class_='rankings-block__banner--matches')
m1=first_match.text

# scraping first points
first_points =soup.find('td', class_='rankings-block__banner--points')
p1=first_points.text

# scraping first rating
first_rating =soup.find('td', class_='rankings-block__banner--rating u-text-right')
r1=first_rating.text.strip()
# making dataframe
df=pd.DataFrame({"Name of team":t,"Matches":m,"Points":p,"Rating":r})
df

  Name of team Matches Points Rating
0           NZ      23  2,670    752
1          AUS      30  3,400    727
2          AUS      32  3,572    665
3           NZ      38  4,098    663
4          PAK      22  2,354    661
5          AFG      24  2,392    659
6          AUS      33  3,129    655
7          BAN      31  2,800    652
8          BAN      20  1,419    638
9          AFG      41  2,902    637

Top 10 womens ODI batting

In [11]:
#send request to webpage server to get sourse code
page = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')
soup = BeautifulSoup(page.content)
# scraping first name
first_name =soup.find('div', class_='rankings-block__banner--name-large')
n1=first_name.text

# scraping first team
first_team =soup.find('div', class_='rankings-block__banner--nationality')
t1=first_team.text.strip()

# scraping first rating
first_rating =soup.find('div', class_='rankings-block__banner--rating')
r1=first_rating.text
# scraping multiple name
name =[]  #empty list
for i in soup.find_all('td', class_='table-body__cell rankings-table__name name'):
    name.append(i.text.strip())
n= name[0:9]
n.insert(0,n1)

# scraping multiple team
team =[]   #empty list
for i in soup.find_all('span', class_='table-body__logo-text'):
    team.append(i.text)
t=team[0:9]
t.insert(0,t1)

# scraping multiple rating
rating =[]    #empty list
for i in soup.find_all('td', class_='table-body__cell rating'):
    rating.append(i.text)
r=rating[0:9]
r.insert(0,r1)
#making dataframe
df=pd.DataFrame({"Name of player":n,"Team":t,"Rating":r})
df

        Name of player Team Rating
0         Alyssa Healy  AUS    785
1          Beth Mooney  AUS    749
2      Laura Wolvaardt   SA    732
3       Natalie Sciver  ENG    731
4     Harmanpreet Kaur  IND    716
5      Smriti Mandhana  IND    714
6          Meg Lanning  AUS    710
7       Rachael Haynes  AUS    701
8  Chamari Athapaththu   SL    655
9    Amy Satterthwaite   NZ    654

Top 10 womens ODI all rounder

In [12]:
#send request to webpage server to get sourse code
page = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')
soup = BeautifulSoup(page.content)
# scraping first name
first_name =soup.find('div', class_='rankings-block__banner--name-large')
n1=first_name.text

# scraping first team
first_team =soup.find('div', class_='rankings-block__banner--nationality')
t1=first_team.text.strip()

# scraping first rating
first_rating =soup.find('div', class_='rankings-block__banner--rating')
r1=first_rating.text
# scraping multiple name
name =[]  #empty list
for i in soup.find_all('td', class_='table-body__cell rankings-table__name name'):
    name.append(i.text.strip())
n= name[0:9]
n.insert(0,n1)

# scraping multiple team
team =[]   #empty list
for i in soup.find_all('span', class_='table-body__logo-text'):
    team.append(i.text)
t=team[0:9]
t.insert(0,t1)

# scraping multiple rating
rating =[]    #empty list
for i in soup.find_all('td', class_='table-body__cell rating'):
    rating.append(i.text)
r=rating[0:9]
r.insert(0,r1)
# making dataframe
df=pd.DataFrame({"Name of player":n,"Team":t,"Rating":r})
df

      Name of player Team Rating
0       Ellyse Perry  AUS    374
1    Hayley Matthews   WI    373
2     Natalie Sciver  ENG    371
3     Marizanne Kapp   SA    349
4        Amelia Kerr   NZ    343
5      Deepti Sharma  IND    322
6   Ashleigh Gardner  AUS    270
7      Jess Jonassen  AUS    246
8     Jhulan Goswami  IND    214
9  Sophie Ecclestone  ENG    205

News details from cnbc.com

In [49]:
#get the HTML
page = requests.get('https://www.cnbc.com/world/?region=world')
soup = BeautifulSoup(page.content)
#scraping headlines
Headline = []
for i in soup.find_all('a',class_='LatestNews-headline'):
    Headline.append(i.text)

#scraping time
Time = []
for i in soup.find_all('time',class_='LatestNews-timestamp'):
    Time.append(i.text)
    

# scraping the link
url =[]
for link in soup.find_all('a',class_='LatestNews-headline'):
    url.append(i.get("https://www.cnbc.com/2022/12/15/european-markets-head-for-negative-open-after-hawkish-fed-comments.html"))
# printing url and length
#print(url)
#print(len(Headline),len(Time),len(link))
# making dataframe
df=pd.DataFrame({"Headline":Headline,"Time":Time,"url":url})
df

                                             Headline          Time   url
0   Recession fears could trigger a 'lipstick' eff...    17 Min Ago  None
1   European markets head for negative open after ...    1 Hour Ago  None
2   Asia's year in review: Who had it good — and w...   2 Hours Ago  None
3   Goldman Sachs names 3 stocks that could profit...   4 Hours Ago  None
4   Elon Musk sells another huge chunk of Tesla sh...   5 Hours Ago  None
5   China's retail sales shrink far more than expe...   5 Hours Ago  None
6   FTX insider turned on Sam Bankman-Fried days b...   6 Hours Ago  None
7   Bank of America names the tech stocks set to b...   7 Hours Ago  None
8   Missed China's reopening rally? BofA names glo...   7 Hours Ago  None
9   Cramer's lightning round: I wouldn't buy World...   7 Hours Ago  None
10  Asia-Pacific markets trade lower after Fed's r...   8 Hours Ago  None
11  Spooked investors have pulled billions of doll...   8 Hours Ago  None
12  Jim Cramer says he likes these 5 consumer stap...   8 Hours Ago  None
13  Investors bolting after hawkish Fed speech are...   8 Hours Ago  None
14  Stock futures mixed following Fed update and a...   8 Hours Ago  None
15  Pro Picks: Watch all of Wednesday's big stock ...   9 Hours Ago  None
16  Bond king Gundlach says the Fed should not do ...  10 Hours Ago  None
17  Satellite imagery venture Planet sees record t...  10 Hours Ago  None
18  Omicron subvariants are serious threat to boos...  10 Hours Ago  None
19  Use this ‘4-part prescription’ to wake up aler...  10 Hours Ago  None
20  Fusion power still decades and billions away, ...  10 Hours Ago  None
21  Trump hits 7-year low in new national poll as ...  10 Hours Ago  None
22  Tech group sues to block California law aiming...  11 Hours Ago  None
23  The secret to asking for a raise and getting i...  11 Hours Ago  None
24  Why Europe's efforts to open up the iPhone won...  12 Hours Ago  None
25  Here are some of Credit Suisse's top stock pic...  12 Hours Ago  None
26  We're initiating a small position in this Amer...  12 Hours Ago  None
27  Online tutoring side hustles are in demand, an...  12 Hours Ago  None
28  The Fed projects raising rates as high as 5.1%...  12 Hours Ago  None
29  The Fed expects more rate hikes, despite a sma...  12 Hours Ago  None

most downloaded article from journals.elseiver

In [38]:
#send request to webpage server to get sourse code
page = requests.get('https://journals.elsevier.com/artificial-intelligence/most-downloaded-articles')
soup = BeautifulSoup(page.content)
# scraping multiple Paper_Title
Paper_Title =[]  #empty list
for i in soup.find_all('h2', class_='sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg'):
    Paper_Title.append(i.text.strip())
Paper_Title
# scraping multiple Authors
Authors =[]   #empty list
for i in soup.find_all('span', class_='sc-1w3fpd7-0 dnCnAO'):
    Authors.append(i.text)
Authors
# scraping multiple Published_Date
Published_Date =[]    #empty list
for i in soup.find_all('span', class_='sc-1thf9ly-2 dvggWt'):
    Published_Date.append(i.text)
Published_Date
# scraping url
url=[]
for i in soup.find_all('span',class_='sc-1thf9ly-2 dvggWt'):
    url.append(i.get('https://www.sciencedirect.com/science/article/pii/S0004370221000862'))
# printing length
#print(len(Paper_Title),len(Authors),len(Published_Date),len(url))
# making dataframe
df=pd.DataFrame({'Paper title':Paper_Title,'Author':Authors,'Published Date':Published_Date,'Paper URL':url})
df

,Paper title,Author,Published Date,Paper URL
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,None
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,None
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,None
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,None
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,None
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,None
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,None
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,None
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,None
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,None
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,None
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,None
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,None
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,None
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,None
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,None
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,None
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,None
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,None
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,None
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,None
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,None
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,None
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,None
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,None

details from dineout.co.in

In [29]:
page = requests.get("https://www.dineout.co.in/delhi-restaurants")
soup = BeautifulSoup(page.content)
## scraping multiple titles
tittle = []  #empty list
for i in soup.find_all('a', class_='restnt-name ellipsis'):
    tittle.append(i.text)

## scraping multiple cuisine
cuisine = []  #empty list
for i in soup.find_all('span', class_='double-line-ellipsis'):
    cuisine.append(i.text)

    ## scraping multiple location
location = []  #empty list
for i in soup.find_all('div', class_='restnt-loc ellipsis'):
    location.append(i.text)
    
## scraping multiple rating
rating = []  #empty list
for i in soup.find_all('div', class_='restnt-rating rating-4'):
    rating.append(i.text)
    
## scraping image
image = []  #empty list
for i in soup.find_all('img', class_='no-img'):
    image.append(i.get('data-src'))
    
# making dataframe
df =pd.DataFrame({'Name of restaurant':tittle,'Cuisine':cuisine,'Location':location,'Image':image})
df

,Name of restaurant,Cuisine,Location,Image
0,Tamasha,"₹ 2,000 for 2 (approx) | Continental, Asian, I...","Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
1,Local,"₹ 2,000 for 2 (approx) | North Indian, Asian, ...","Scindia House,Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
2,The Junkyard Cafe,"₹ 2,100 for 2 (approx) | North Indian, Contine...","Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
3,Station Bar,"₹ 1,100 for 2 (approx) | Italian, Chinese, Nor...","F-Block,Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
4,Ministry Of Beer,"₹ 3,000 for 2 (approx) | North Indian, Contine...","M-Block,Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
5,Unplugged Courtyard,"₹ 3,300 for 2 (approx) | North Indian, Italian...","Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
6,QBA,"₹ 2,100 for 2 (approx) | North Indian, Contine...","Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
7,My Bar Square,"₹ 2,000 for 2 (approx) | Finger Food, Chinese,...","Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
8,The G.T. ROAD,"₹ 1,400 for 2 (approx) | North Indian","M-Block,Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
9,Openhouse Cafe,"₹ 2,000 for 2 (approx) | North Indian, Asian, ...","Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
10,Warehouse Cafe,"₹ 2,500 for 2 (approx) | North Indian, Chinese...","Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
11,Dasaprakash,"₹ 800 for 2 (approx) | North Indian, South Ind...","Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
12,The Luggage Room By Sandoz,"₹ 1,600 for 2 (approx) | Chinese, Italian, Nor...","M-Block,Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
13,Lord of the Drinks,"₹ 2,500 for 2 (approx) | Chinese, North Indian...","Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
14,The Imperial Spice,"₹ 3,000 for 2 (approx) | North Indian, Chinese...","M-Block,Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
15,Somewhere Restaurant & Bar,"₹ 1,000 for 2 (approx) | North Indian, Contine...","Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
16,Connaught Clubhouse Microbrewery,"₹ 1,800 for 2 (approx) | North Indian, Contine...","Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
17,Ardor 2.1 Restaurant and Lounge,"₹ 2,000 for 2 (approx) | North Indian, Chinese...","Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
18,Cafe High 5,"₹ 1,700 for 2 (approx) | North Indian, Contine...","Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
19,My Bar Headquarters,"₹ 1,500 for 2 (approx) | North Indian, Chinese","Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
20,Chido,"₹ 1,800 for 2 (approx) | North Indian, Italian...","Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...

Top publication from scholar google form

In [ ]:
#get the HTML
page = requests.get('https://scholar.google.co.in/citations?view_op=top_venues&hl=en')
soup = BeautifulSoup(page.content)
#scraping rank
Rank=[]
for i in soup.find_all('th', class_='gsc_mvt_p'):
    Rank.append(i.text)

#scraping publication
Publication=[]
for i in soup.find_all('th', class_='gsc_mvt_t'):
    Publication.append(i.text)

#scraping h-5 index
h5_ind=[]
for i in soup.find_all('th', class_='gsc_mvt_n'):
    h5_ind.append(i.text)
    
h5_index=h5_ind[: :2]
h5_median=h5_ind[1: :2]

#printing length
print(len(Rank),len(Publication),len(h5_index),len(h5_median))

df= pd.DataFrame({'Rank':Rank,'Publication':Publication,'h5_index':h5_index,'h5_median':h5_median})
df

Former president of india

In [3]:
# send get request to webpage server to get source code
page = requests.get("https://presidentofindia.nic.in/former-presidents.htm") #
# get page content
soup = BeautifulSoup(page.content)
# sraping data
president_name= []
for i in soup.find_all('div', class_='presidentListing'):
    president_name.append(i.text)
print('president name',*president_name, sep=' ')
    
president_name

president name
Shri Ram Nath Kovind (birth - 1945)
Term of Office: 25 July, 2017 to 25 July, 2022
https://ramnathkovind.nic.in

Shri Pranab Mukherjee (1935-2020)
Term of Office: 25 July, 2012 to 25 July, 2017
http://pranabmukherjee.nic.in

Smt Pratibha Devisingh Patil (birth - 1934)
Term of Office: 25 July, 2007 to 25 July, 2012
http://pratibhapatil.nic.in

DR. A.P.J. Abdul Kalam (1931-2015)
Term of Office: 25 July, 2002 to 25 July, 2007
http://abdulkalam.nic.in

Shri K. R. Narayanan (1920 - 2005)
Term of Office: 25 July, 1997 to 25 July, 2002

Dr Shankar Dayal Sharma (1918-1999)
Term of Office: 25 July, 1992 to 25 July, 1997

Shri R Venkataraman (1910-2009)
Term of Office: 25 July, 1987 to 25 July, 1992

Giani Zail Singh (1916-1994)
Term of Office: 25 July, 1982 to 25 July, 1987

Shri Neelam Sanjiva Reddy (1913-1996)
Term of Office: 25 July, 1977 to 25 July, 1982

Dr. Fakhruddin Ali Ahmed (1905-1977)
Term of Office: 24 August, 1974 to 11 February, 1977

Shri Varahagiri Venkata Giri (1894-1980)
Term of Office: 3 May, 1969 to 20 July, 1969 and 24 August, 1969 to 24 August, 1974

Dr. Zakir Husain (1897-1969)
Term of Office: 13 May, 1967 to 3 May, 1969

Dr. Sarvepalli Radhakrishnan (1888-1975)
Term of Office: 13 May, 1962 to 13 May, 1967

Dr. Rajendra Prasad (1884-1963)
Term of Office: 26 January, 1950 to 13 May, 1962

['\nShri Ram Nath Kovind (birth - 1945)\nTerm of Office: 25 July, 2017 to 25 July, 2022 \nhttps://ramnathkovind.nic.in\n',
 '\nShri Pranab Mukherjee (1935-2020)\nTerm of Office: 25 July, 2012 to 25 July, 2017 \nhttp://pranabmukherjee.nic.in\n',
 '\nSmt Pratibha Devisingh Patil (birth - 1934)\nTerm of Office: 25 July, 2007 to 25 July, 2012 \nhttp://pratibhapatil.nic.in\n',
 '\nDR. A.P.J. Abdul Kalam (1931-2015)\nTerm of Office: 25 July, 2002 to 25 July, 2007 \nhttp://abdulkalam.nic.in\n',
 '\nShri K. R. Narayanan (1920 - 2005)\nTerm of Office: 25 July, 1997 to 25 July, 2002 \n',
 '\nDr Shankar Dayal Sharma (1918-1999)\nTerm of Office: 25 July, 1992 to 25 July, 1997 \n',
 '\nShri R Venkataraman (1910-2009)\nTerm of Office: 25 July, 1987 to 25 July, 1992 \n',
 '\nGiani Zail Singh (1916-1994)\nTerm of Office: 25 July, 1982 to 25 July, 1987 \n',
 '\nShri Neelam Sanjiva Reddy (1913-1996)\nTerm of Office: 25 July, 1977 to 25 July, 1982 \n',
 '\nDr. Fakhruddin Ali Ahmed (1905-1977)\nTerm of Office: 24 August, 1974 to 11 February, 1977\n',
 '\nShri Varahagiri Venkata Giri (1894-1980)\nTerm of Office: 3 May, 1969 to 20 July, 1969 and 24 August, 1969 to 24 August, 1974\n',
 '\nDr. Zakir Husain (1897-1969)\nTerm of Office: 13 May, 1967 to 3 May, 1969\n',
 '\nDr. Sarvepalli Radhakrishnan (1888-1975)\nTerm of Office: 13 May, 1962 to 13 May, 1967\n',
 '\nDr. Rajendra Prasad (1884-1963) \nTerm of Office: 26 January, 1950 to 13 May, 1962\n']