In [2]:
#install all requirements
!pip install bs4
!pip install requests
from bs4 import BeautifulSoup
import requests
import pandas as pd

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: bs4 in c:\users\lavina\appdata\roaming\python\python39\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.3.1)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (2.28.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests) (1.26.11)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests) (2022.9.14)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests) (3.3)

In [3]:
#send request to webpage server to get sourse code
page = requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
soup = BeautifulSoup(page.content)

In [4]:
# scraping first team
first_team =soup.find('span', class_='u-hide-phablet')
t1=first_team.text
t1

'Australia'

In [5]:
# scraping first match
first_match =soup.find('td', class_='rankings-block__banner--matches')
m1=first_match.text
m1

'18'

In [6]:
# scraping first points
first_points =soup.find('td', class_='rankings-block__banner--points')
p1=first_points.text
p1

'3,061'

In [7]:
# scraping first rating
first_rating =soup.find('td', class_='rankings-block__banner--rating u-text-right')
r1=first_rating.text.strip()
r1

'170'

In [8]:
# scraping multiple team
team =[]   #empty list
for i in soup.find_all('span', class_='u-hide-phablet'):
    team.append(i.text)
t=team[0:10]

t

['Australia',
 'South Africa',
 'England',
 'India',
 'New Zealand',
 'West Indies',
 'Bangladesh',
 'Thailand',
 'Pakistan',
 'Sri Lanka']

In [9]:
# scraping multiple matches
name =[]  #empty list
for i in soup.find_all('td', class_='table-body__cell u-center-text'):
    name.append(i.text.strip())
m2= name[0:24:2]
m2.insert(0,m1)
m=m2[0:10]
m

['18', '26', '25', '27', '24', '24', '12', '8', '24', '8']

In [10]:
# scraping multiple points
p2=name[1:24:2]
p2.insert(0,p1)
p=p2[0:10]
p

['3,061',
 '3,098',
 '2,904',
 '2,820',
 '2,425',
 '2,334',
 '932',
 '572',
 '1,519',
 '353']

In [11]:
# scraping multiple rating
rating =[]    #empty list
for i in soup.find_all('td', class_='table-body__cell u-text-right rating'):
    rating.append(i.text)
r=rating[0:9]
r.insert(0,r1)
r

['170', '119', '116', '104', '101', '97', '78', '72', '63', '44']

In [12]:
df=pd.DataFrame({"Name of team":t,"Matches":m,"Points":p,"Rating":r})
df

   Name of team Matches Points Rating
0     Australia      18  3,061    170
1  South Africa      26  3,098    119
2       England      25  2,904    116
3         India      27  2,820    104
4   New Zealand      24  2,425    101
5   West Indies      24  2,334     97
6    Bangladesh      12    932     78
7      Thailand       8    572     72
8      Pakistan      24  1,519     63
9     Sri Lanka       8    353     44