In [1]:
#install all requirements
!pip install bs4
!pip install requests
from bs4 import BeautifulSoup
import requests
import pandas as pd

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: bs4 in c:\users\lavina\appdata\roaming\python\python39\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.3.1)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (2.28.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests) (2022.9.14)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests) (1.26.11)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests) (3.3)

In [2]:
#send request to webpage server to get sourse code
page = requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
soup = BeautifulSoup(page.content)

In [3]:
# scraping first team
first_team =soup.find('span', class_='u-hide-phablet')
t1=first_team.text

# scraping first match
first_match =soup.find('td', class_='rankings-block__banner--matches')
m1=first_match.text

# scraping first points
first_points =soup.find('td', class_='rankings-block__banner--points')
p1=first_points.text

# scraping first rating
first_rating =soup.find('td', class_='rankings-block__banner--rating u-text-right')
r1=first_rating.text.strip()

In [4]:
# scraping multiple team
team =[]   #empty list
for i in soup.find_all('span', class_='u-hide-phablet'):
    team.append(i.text)
t=team[0:10]

# scraping multiple matches
name =[]  #empty list
for i in soup.find_all('td', class_='table-body__cell u-center-text'):
    name.append(i.text.strip())
m2= name[0:38:2]
m2.insert(0,m1)
m=m2[0:10]

# scraping multiple points
p2=name[1:38:2]
p2.insert(0,p1)
p=p2[0:10]
p

# scraping multiple rating
rating =[]    #empty list
for i in soup.find_all('td', class_='table-body__cell u-text-right rating'):
    rating.append(i.text)
r=rating[0:9]
r.insert(0,r1)

In [5]:
# for checking length
#print(len(t),len(m),len(p),len(r))

In [6]:
# making dataframe
df=pd.DataFrame({"Name of team":t,"Matches":m,"Points":p,"Rating":r})
df

   Name of team Matches Points Rating
0   New Zealand      23  2,670    116
1       England      30  3,400    113
2     Australia      32  3,572    112
3         India      35  3,866    110
4      Pakistan      22  2,354    107
5  South Africa      24  2,392    100
6    Bangladesh      30  2,753     92
7     Sri Lanka      30  2,677     89
8   Afghanistan      19  1,380     73
9   West Indies      41  2,902     71